# Visual Studio files
*.sln
*.suo
*.user
*.vssscc
*.vspscc
*/bin/
*/obj/


# Resharper files
_ReSharper*/

# NuGet packages
packages/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Other files
[Tt]humbs.db
*.DS_Store

src/.vs/COSIG_RayTracer/FileContentIndex/
src/COSIG_RayTracer/obj/Debug/
src/COSIG_RayTracer/bin/Debug/
src/.vs/COSIG_RayTracer/v17/.suo
src/.vs/COSIG_RayTracer/FileContentIndex/3ef3b309-f6b0-472b-84dc-7bca5fa3c2fd.vsidx
src/.vs/COSIG_RayTracer/FileContentIndex/ea383487-3c61-4022-a340-4e20739ab632.vsidx
